In [5]:
!pip install pandas numpy

Requirement already satisfied: pandas in .\.venv\Lib\site-packages (3.0.0)
Requirement already satisfied: numpy in .\.venv\Lib\site-packages (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in .\.venv\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in .\.venv\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in .\.venv\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('SocialMedia.csv')

In [7]:
df.head()

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
0,id ligula suspendisse ornare consequat lectus ...,6.672567e+15,2020-06-30 21:09 +0000,365.0,4.0,0.010959,0.0,0,1.0,2.0,...,0,1,0,0,0,0,0,0,0.0,0.0
1,euismod scelerisque quam turpis adipiscing lor...,8.265457e+15,2020-06-30 17:14 +0000,184.0,2.0,0.010870,0.0,0,2.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
2,leo rhoncus sed vestibulum sit amet cursus id ...,2.811173e+14,2020-06-30 16:59 +0000,2644.0,46.0,0.017398,1.0,1,17.0,0.0,...,0,23,0,0,0,0,0,0,354.0,1.0
3,aenean lectus pellentesque eget nunc donec qui...,7.758026e+15,2020-06-30 13:55 +0000,301.0,3.0,0.009967,0.0,1,2.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
4,sed accumsan felis ut at dolor quis odio conse...,6.131837e+15,2020-06-30 12:13 +0000,528.0,0.0,0.000000,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tweet                1181 non-null   str
 1   id                   1181 non-null   float64
 2   time                 1181 non-null   str
 3   impressions          1179 non-null   float64
 4   engagements          1179 non-null   float64
 5   engagement rate      1179 non-null   float64
 6   retweets             1180 non-null   float64
 7   replies              1181 non-null   int64
 8   likes                1181 non-null   float64
 9   user profile clicks  1181 non-null   float64
 10  url clicks           1181 non-null   int64
 11  hashtag clicks       1181 non-null   int64
 12  detail expands       1181 non-null   int64
 13  permalink clicks     1181 non-null   int64
 14  app opens            1181 non-null   int64
 15  app installs         1181 non-null   int64
 16  follows              1181 non-null   int64
 17  email tweet          1181 non-null   int64
 18  dial phone           1181 non-null   int64
 19  media views          1169 non-null   float64
 20  media engagements    1168 non-null   float64
dtypes: float64(9), int64(10), str(2)
memory usage: 193.9 KB

In [9]:
df.describe(include='all')

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
count,1181,1.181000e+03,1181,1179.000000,1179.000000,1179.000000,1180.000000,1181.000000,1181.000000,1181.000000,...,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.0,1181.000000,1181.000000,1169.000000,1168.000000
unique,1181,NaN,1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,id ligula suspendisse ornare consequat lectus ...,NaN,2020-09-17 10:48 +0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,4.869653e+15,NaN,773.282124,78.285838,0.066514,0.937288,1.417443,6.932271,2.176127,...,0.259949,13.128704,0.000847,0.002540,0.000847,0.0,1.738357,0.462320,76.197605,52.671233
std,NaN,2.912818e+15,NaN,4679.852991,1578.955143,0.534397,12.906901,14.395244,72.879727,20.382764,...,1.610662,136.196470,0.029099,0.065045,0.029099,0.0,41.171964,11.438397,1363.459588,1361.448226
min,NaN,4.837987e+12,NaN,0.010899,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,NaN,2.345457e+15,NaN,163.000000,3.000000,0.012206,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,NaN,4.789145e+15,NaN,295.000000,6.000000,0.023392,0.000000,0.000000,2.000000,0.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,NaN,7.465578e+15,NaN,704.000000,18.000000,0.043011,0.000000,1.000000,5.000000,1.000000,...,0.000000,5.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,30.000000,1.000000
max,NaN,9.987611e+15,NaN,156685.000000,54098.000000,15.000000,402.000000,483.000000,2487.000000,641.000000,...,41.000000,4024.000000,1.000000,2.000000,1.000000,0.0,1341.000000,381.000000,46489.000000,46489.000000

In [10]:
df.isnull().sum()

Tweet                   0
id                      0
time                    0
impressions             2
engagements             2
engagement rate         2
retweets                1
replies                 0
likes                   0
user profile clicks     0
url clicks              0
hashtag clicks          0
detail expands          0
permalink clicks        0
app opens               0
app installs            0
follows                 0
email tweet             0
dial phone              0
media views            12
media engagements      13
dtype: int64

In [11]:
df.fillna(0, inplace=True)

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
0,id ligula suspendisse ornare consequat lectus ...,6.672567e+15,2020-06-30 21:09 +0000,365.0,4.0,0.010959,0.0,0,1.0,2.0,...,0,1,0,0,0,0,0,0,0.0,0.0
1,euismod scelerisque quam turpis adipiscing lor...,8.265457e+15,2020-06-30 17:14 +0000,184.0,2.0,0.010870,0.0,0,2.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
2,leo rhoncus sed vestibulum sit amet cursus id ...,2.811173e+14,2020-06-30 16:59 +0000,2644.0,46.0,0.017398,1.0,1,17.0,0.0,...,0,23,0,0,0,0,0,0,354.0,1.0
3,aenean lectus pellentesque eget nunc donec qui...,7.758026e+15,2020-06-30 13:55 +0000,301.0,3.0,0.009967,0.0,1,2.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
4,sed accumsan felis ut at dolor quis odio conse...,6.131837e+15,2020-06-30 12:13 +0000,528.0,0.0,0.000000,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,donec vitae nisi nam ultrices libero non matti...,1.927221e+15,2020-10-01 12:29 +0000,233.0,6.0,0.025751,0.0,0,2.0,2.0,...,0,1,0,0,0,0,0,0,136.0,1.0
1177,sapien varius ut blandit non interdum in ante ...,4.816192e+15,2020-10-01 12:25 +0000,213.0,4.0,0.018779,0.0,0,1.0,1.0,...,0,0,0,0,0,0,0,0,26.0,2.0
1178,porttitor lacus at turpis donec posuere metus ...,4.892494e+15,2020-10-01 12:24 +0000,248.0,5.0,0.020161,0.0,1,3.0,0.0,...,0,1,0,0,0,0,0,0,0.0,0.0
1179,pellentesque volutpat dui maecenas tristique e...,2.686366e+14,2020-10-01 12:24 +0000,765.0,11.0,0.014379,0.0,3,1.0,0.0,...,0,7,0,0,0,0,0,0,0.0,0.0
1180,sed sagittis nam congue risus semper porta vol...,4.167866e+15,2020-10-01 01:52 +0000,46.0,6.0,0.130435,0.0,0,1.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [12]:
df.isnull().sum()

Tweet                  0
id                     0
time                   0
impressions            0
engagements            0
engagement rate        0
retweets               0
replies                0
likes                  0
user profile clicks    0
url clicks             0
hashtag clicks         0
detail expands         0
permalink clicks       0
app opens              0
app installs           0
follows                0
email tweet            0
dial phone             0
media views            0
media engagements      0
dtype: int64

In [13]:
df.tail()

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
1176,donec vitae nisi nam ultrices libero non matti...,1.927221e+15,2020-10-01 12:29 +0000,233.0,6.0,0.025751,0.0,0,2.0,2.0,...,0,1,0,0,0,0,0,0,136.0,1.0
1177,sapien varius ut blandit non interdum in ante ...,4.816192e+15,2020-10-01 12:25 +0000,213.0,4.0,0.018779,0.0,0,1.0,1.0,...,0,0,0,0,0,0,0,0,26.0,2.0
1178,porttitor lacus at turpis donec posuere metus ...,4.892494e+15,2020-10-01 12:24 +0000,248.0,5.0,0.020161,0.0,1,3.0,0.0,...,0,1,0,0,0,0,0,0,0.0,0.0
1179,pellentesque volutpat dui maecenas tristique e...,2.686366e+14,2020-10-01 12:24 +0000,765.0,11.0,0.014379,0.0,3,1.0,0.0,...,0,7,0,0,0,0,0,0,0.0,0.0
1180,sed sagittis nam congue risus semper porta vol...,4.167866e+15,2020-10-01 01:52 +0000,46.0,6.0,0.130435,0.0,0,1.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0